@model OtoHaber.MvcWebUI.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    var aktifKategori = ViewContext.RouteData.Values["id"] == null ? 0: Convert.ToInt32(ViewContext.RouteData.Values["id"]);
}

<div class="row jumbotron" style="background-color:white;">
    <div class="col-md-4">
        <div class="list-group">
            <div class="list-group-item">
                <h3>Haber Kategorileri</h3>
            </div>
            <a href="/" class="list-group-item @(aktifKategori == 0 ? "active":"")">Tümü</a>

            @foreach (var kategori in Model.Kategoriler)
            {
                <a href="@Url.Action("Index","Home",new { id = kategori.Id})" class="list-group-item @(kategori.Id == aktifKategori ? "active":"")">
                    @kategori.KategoriAdi
                </a>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.HaberDetayDtos.Count; i++)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@i" class="@(@i==0 ? "active" :"")"></li>
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @foreach (var haberDetayDto in Model.HaberDetayDtos)
                {
                    var indexNumber = Model.HaberDetayDtos.IndexOf(haberDetayDto);
                    var activeClass = "";
                    if (indexNumber == 0)
                    {
                        activeClass = "active";
                    }
                    <div class="item @activeClass">
                        <a href="@Url.Action("HaberDetay","Home",new { id = haberDetayDto.Id})">
                            <img src="@Url.Content("~/Uploads/HaberResimler/"+haberDetayDto.HaberResmi)" alt="@haberDetayDto.Baslik">
                        </a>
                        <div class="carousel-caption">
                            @haberDetayDto.Baslik
                        </div>
                    </div>
                }

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        
    </div>
</div>



