<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <a href="@Url.Action("Dashboard","Home", new { area="Admin"})" class="navbar-brand">Oto Haber Admin Panel</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin/Kullanici/Index">Kullanıcılar</a></li>
                    <li><a href="/Admin/Yazar/Index">Yazarlar</a></li>
                    <li><a href="/Admin/Kategori/Index">Kategoriler</a></li>
                    <li><a href="/Admin/Yorum/Index">Yorumlar</a></li>
                    <li><a href="/Admin/Haber/Index">Haberler</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var currentUser = Context.User;
                        if (currentUser.Identity.IsAuthenticated == true && currentUser.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@currentUser.Identity.Name <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Logout","Auth",new { area=""})">Çıkış yap</a></li>
                                    <li><a href="@Url.Action("Index","Home",new { area=""})">Anasayfa</a></li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>